<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midea.fridge.utils">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!--冰箱控制接收器-->
        <receiver android:name="com.midea.fridge.utils.fridgecontrolutil.FridgeControlReceiver">
            <intent-filter>
                <action android:name="com.midea.fridge.servant.fridgecontrol.fridgefault" />
                <action android:name="com.midea.fridge.servant.fridgecontrol.fridgestatus" />
                <action android:name="com.midea.fridge.servant.fridgecontrol.door" />
                <action android:name="com.midea.fridge.servant.fridgecontrol.weightdata" />
                <action android:name="com.midea.fridge.servant.fridgecontrol.complete" />
                <action android:name="com.midea.fridge.servant.fridgecontrol.deviceid" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
